certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.2
enum34==1.1.6
idna==2.6
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
luhn==0.2.0
oauthlib==2.0.2
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py-trello==0.9.0
PyGithub==1.35
Pygments==2.2.0
PyJWT==1.5.2
python-dateutil==2.6.1
python-logentries-api==0.7
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
-e git+https://github.com/kamushadenes/python-slackclient.git@709701697c36a7b4032ab1bc43289b46c2c06bad#egg=slackclient
slacker==0.9.60
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.44.0
